@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Varela+Round&display=swap');

body{
	display: flex;  
	flex-direction: column;
	background-color: #023047;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	color: #FFB703;
}
h1{
	font-size: 60px;
}
h2{
	font-size: 40px;
}
.rock img{
	margin-top: 70px;
}
.button:hover{
	cursor: pointer;
	opacity: 60%;
}

.game-options-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

dialog{
	width: 40em;
	height: 18em;
	background-color: #FFB703;
	border-radius: 30px;
	color: #023047;
}
dialog::backdrop{
	background-color: rgba(0,0,0,0.5);
}

.play-again{
	width: 50%;
	height: 25%;
	border: none;
	border-radius: 10px;
	background-color: #023047;
	color: #FFB703;
	font-size: 24px;
	cursor: pointer;
}

.play-again:hover{
	background-color: #001b29;
}

@media only screen and (max-width: 600px) {
	dialog{
		width: 80%;
	}
	h1{
		font-size: 15vw;
	}
  img {
    width: 30vw;
		height: auto;
  }
	.rock img{
		margin-top: 10vw;
	}
}